._1syGnXOL {
    padding-right: 18px;
    font-size: 14px;
    line-height: 0;
    letter-spacing: -.25px;
    color: #000
}

._1syGnXOL span,
._1syGnXOL strong {
    line-height: 49px
}

._1syGnXOL:before {
    display: inline-block;
    content: "";
    vertical-align: top;
    background-image: url(https://static-whale.pstatic.net/main/sprite-20201210@2x.png);
    background-repeat: no-repeat;
    background-size: 114px 107px;
    width: 18px;
    height: 18px;
    margin: 16px 8px 0 0;
    background-position: 0 -89px
}

[data-useragent*="MSIE 8"] ._1syGnXOL:before {
    background-image: url(https://static-whale.pstatic.net/main/sprite-20201210.png)
}

._1syGnXOL._3dsvmZg2:before {
    background-position: -68px -63px
}

._1syGnXOL._1NBFx1WK:before {
    width: 20px;
    height: 20px;
    margin: 15px 8px 0 0;
    background-position: -26px -85px
}

._1syGnXOL._2mcQEKCd:before {
    width: 22px;
    height: 22px;
    margin: 14px 7px 0 0;
    background-position: -26px -63px
}

._1syGnXOL._18YOHi7v {
    color: #fff
}

._1syGnXOL._3di88A4c {
    padding-right: 12px;
    font-size: 17px
}

._1syGnXOL._3di88A4c:before {
    content: none
}

._1syGnXOL._3jtl_dKE {
    font-size: 16px
}

._1syGnXOL ._19K4X1CD {
    text-decoration: underline
}

._2aeXMlrb {
    display: inline-block;
    position: relative;
    font-size: 12px;
    height: 49px;
    width: 78px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    letter-spacing: -.5px;
    vertical-align: top
}

._2aeXMlrb span {
    text-align: center;
    margin: 9px 0;
    height: 31px;
    display: block;
    line-height: 31px;
    border-radius: 15px
}

._2aeXMlrb span:before {
    display: inline-block;
    content: "";
    vertical-align: top;
    background-image: url(https://static-whale.pstatic.net/main/sprite-20201210@2x.png);
    background-repeat: no-repeat;
    background-size: 114px 107px
}

[data-useragent*="MSIE 8"] ._2aeXMlrb span:before {
    background-image: url(https://static-whale.pstatic.net/main/sprite-20201210.png)
}

._2aeXMlrb.BMgpjddw {
    font-size: 11px;
    width: 94px
}

._2aeXMlrb.BMgpjddw span:before {
    margin: 9px 3px 0 0;
    width: 17px;
    height: 13px;
    background-position: -98px -30px
}

._3h-N8T9V {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0)
}

._1KncATpM {
    display: inline-block;
    content: "";
    vertical-align: top;
    background-image: url(https://static-whale.pstatic.net/main/sprite-20201210@2x.png);
    background-repeat: no-repeat;
    background-size: 114px 107px;
    margin-top: 14px;
    float: left;
    width: 98px;
    height: 21px;
    background-position: 0 -21px
}

[data-useragent*="MSIE 8"] ._1KncATpM {
    background-image: url(https://static-whale.pstatic.net/main/sprite-20201210.png)
}

._1KncATpM._2v3uxv2x {
    background-position: 0 0
}

._1KncATpM._1yl_Ow6o {
    background-position: 0 -42px
}

._20PYt6lT {
    font-size: 11px;
    height: 49px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    color: #666;
    opacity: .7
}

._20PYt6lT:after {
    width: 15px;
    height: 15px;
    margin-left: 4px;
    background-position: -98px 0;
    display: inline-block;
    content: "";
    vertical-align: top;
    background-image: url(https://static-whale.pstatic.net/main/sprite-20201210@2x.png);
    background-repeat: no-repeat;
    background-size: 114px 107px
}

[data-useragent*="MSIE 8"] ._20PYt6lT:after {
    background-image: url(https://static-whale.pstatic.net/main/sprite-20201210.png)
}

._20PYt6lT._39oMCV2N:after {
    background-position: -98px -15px
}

._20PYt6lT._3wm5EzmJ {
    color: #fff
}

._20PYt6lT._3wm5EzmJ:after {
    background-position: -48px -83px
}

._1hiMWemA {
    height: 49px;
    position: absolute;z-index: 11;left: 0;right: 0;top: 0;
    display: none;
}

._1hiMWemA .tY_u8r23 {
    position: relative;
    width: 1180px;
    margin: 0 auto
}

._1hiMWemA .tY_u8r23 a {
    text-decoration: none;color: #fff;
}

._1hiMWemA._23U_6TM_ {
    position: relative
}

._1hiMWemA._23U_6TM_:after {
    position: absolute;
    z-index: 1;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: rgba(0, 0, 0, .05)
}

[data-useragent*="rv:11"],
[data-useragent*="MSIE 8"]{
    body{padding-top: 249px;}
    #header{top: 49px;}
    ._1hiMWemA{display: block;}
}