#footer{
    background: #000;text-align: center;padding: 44px 0;position: relative;
    .logo{
        margin-bottom: 35px;
        img{height: 20px;vertical-align: top;}
    }
    .menu{
        ul{display: flex;justify-content: center;flex-wrap: wrap;}
        li{margin: 0 30px;}
        a{
            font-size: 17px;color: #fff;
            :hover,
            :focus{color: inherit;}
        }
    }
    .info{
        font-size: 13px;line-height: 21px;letter-spacing: -.35px;color: #999;margin-top: 20px;
        span + span::before{content: '|';margin: 0 8px;}
    }
    .container{max-width:1300px;}
}

@include media-breakpoint-down(md) {
    #footer{
        padding: 40px 0;
        .logo{
            margin-bottom: 25px;
            img{height: 15px;}
        }
        .menu{
            li{margin: 0 12px;margin-top: 3px;}
            a{font-size: 13px;}
        }
        .info{
            font-size: 12px;
        }
    }
}

.quick{
    width: 148px;
    height: 148px;
    background-image: url('../../resources/images/quick.png');
    background-repeat: no-repeat;
    background-size: contain;
    display:block;
    position:fixed;
    bottom:100px;
    right:5%;
    z-index:100;
    &.active{
        position: absolute;
        bottom: auto;
        top: -170px;
    }
}
@include media-breakpoint-down(lg) {
    .quick{
        width: 100px;height: 100px;
        &.active{
            top: -120px;
        }
    }
}
@include media-breakpoint-down(md) {
    .quick{
        width: 70px;
        height: 70px;
        right: 15px;
        bottom:15px;
        &.active{
            top: -15px;
            transition: .2s .1s ease-in-out;
            transform: translateY(-60px);
        }
    }
}