@import url(sub2.css);

/* 공통 */
.btn-bottom {padding:50px 1rem 120px;text-align:center;background:#f2f2f2;}
@media (max-width:767px) {
    .btn-bottom{padding: 25px 15px 30px;}
}
.search-top-box {margin-top:12px;margin-bottom: 20px;}
.search-top-box>p {margin-bottom:0;font-size:1.125em;}
@media (max-width:767px) {
    .search-top-box>p{margin-bottom: 6px;}
    .search-top-box .btn{min-width: 70px;}
}
.view-tit {margin-top:20px;}
.view-tit .tit {font-size:1.375em;font-weight:500;}
.view-tit .date {font-size:1.125em;color:#666;}
.view-cont {margin-top:1em;text-align:center;}
.table-util {padding:13px 10px;}
@media (max-width:767px) {
    .table-util{padding: 10px 0 8px;}
}
.btn-del {min-width:10px;padding:0;font-size:14px;line-height:2;}
.btn-del i {display:inline-block;width:16px;height:16px;margin-right:4px;vertical-align:-2px;background:url(../../resources/images/ic-etc-delete.svg) no-repeat;}
.view-btm-btn .btn {margin-right:5px;}
.view-btm-btn .btn:last-child {margin-right:0;}
.modal-footer .btn+.btn {margin-left:8px;}

/* 로그인 */
.login-sec {padding: 0 56px;}
.login-sec h2 {margin-bottom:49px;padding-bottom:22px;border-bottom:2px solid #111;}
.login-sec .form-control {margin-bottom:9px;}
.login-sec .btn-area {margin-top:30px;}
.login-desc {margin-top:30px;font-size:18px;color:#666;line-height:1.56;margin-bottom: 0;}
@media (max-width:768px) {
    .login-sec {padding: 0 10px;}
    .login-desc{font-size: 13px;word-break: keep-all;}
}

/* 카테고리 */
.product-list {display:flex;flex-wrap: wrap;margin: -25px -10px;}
.product-list li{width: 25%;padding: 25px 10px;}
.product-list li a {display:block;}
.product-list li a:hover {text-decoration:none;color:inherit;}
.product-list li span {display:block;}
.product-list li .img img {width:100%;}
.product-list li .cate {margin-top:11px;font-size:12px;font-weight:500;color:#999;}
.product-list li .tit {overflow:hidden;margin:5px 0;text-overflow:ellipsis;white-space:nowrap;font-size:22px;font-weight:500;}
.product-list li .price {font-size:14px;color:#999;}
.product-list li .price strong {font-size:16px;font-weight:inherit;color:#111;}
.product-list li .detail {overflow:hidden;margin-top:10px;text-overflow:ellipsis;white-space:nowrap;color:#999;}
.product-list li .hashtag { font-size:16px; font-weight:300; line-height:1.5; color:#682dd2; margin-top:2px;margin-bottom: 0;}
.product-list li .hashtag span { display:inline-block; margin-right:10px; }
.product-list li .hashtag span:first-child { margin-left:0px; }
@media (max-width:1200px) {
    .product-list li{width: 33.333333%;}
}
@media (max-width:768px) {
    .product-list{margin: -15px -6px;}
    .product-list li{width: 50%;padding: 15px 6px;}
    .product-list li .tit{font-size: 15px;}
    .product-list li .cate{font-size: 11px;}
    .product-list li .price strong{font-size: 15px;}
    .product-list li .hashtag{font-size: 12px;}
    .product-list li .hashtag span{margin-right: 5px;}
}

/* 프로필선택 */
.profile-sec.content-bottom-padding{padding-bottom: 270px;}
.profile-sec .tit {margin:100px 0 0;text-align:center;font-size:1.4em;font-weight:500;color:#333;}
.profile-sec ul {flex-wrap: wrap;justify-content:center;margin-top:6.25em;margin-left:-23.5px;margin-right: -23.5px;}
.profile-sec li {text-align:center;padding-left: 23.5px;padding-right: 23.5px;}
.profile-sec li .img {display:block;overflow:hidden;width:198px;height:198px;border:2px solid #fff;border-radius:50%;box-shadow:0 6px 16px 0 rgba(85, 99, 165, 0.2);}
.profile-sec li .custom-control {margin:2.188em 0 0 0;}
.profile-sec li .custom-control-label {color:#333;}

/* 패키지구매 */
.package-sec h4 {margin:76px 0 30px 0;font-size:1.25em;font-weight:400;}
.package-sec h4:first-child {margin-top:56px;}
.package-sec .desc {font-size:12px;color:#ff5252;margin-bottom: 30px;margin-top: -25px;padding-left: 20px;}
.package-sec .form-group {margin:0 0 0 1rem;}
.package-sec .form-group .custom-control-inline {align-items:center;margin-right: 0;width: 140px;margin-bottom:10px;}
.package-sec .etc-group{width: auto;}
.package-sec .etc-group .month-input{margin-left: -25px;}
.package-sec .etc-group .month-input .form-control{width: 60px;}
.package-sec .form-inline .form-control {width:300px;}

.skin-select {display:none;flex-wrap:wrap;margin-top: 15px !important;padding: 0 1rem;}
.skin-select.active{display: flex;}
.skin-select .row{margin-left: -6px;margin-right: -6px;}
.skin-select .item{flex: 0 0 16.66667%;max-width: 16.66667%;padding-left: 6px;padding-right: 6px;}
.skin-select label {overflow:hidden;width:100%;border:1px solid #e2e2e2;border-radius:4px;transition:all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);}
.skin-select label:before {display:none;}
.skin-select label img {width:100%;}
.skin-select label span {position:absolute;z-index:2;left:0;bottom:0;width:100%;text-align:center;font-size:1.25em;color:#fff;line-height:32px;transition:all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);background:#000;}
.skin-select .custom-control {padding:0;margin-right: 0 !important;}
.skin-select .custom-control-input:checked~label {border-color:#682dd2;}
.skin-select .custom-control-input:checked~label:after {position:absolute;z-index:1;left:50%;top:50%;width:100%;height:100%;transform:translate(-50%, -50%);background:rgba(0, 0, 0, 0.7) url(../../resources/images/icon-check.svg) no-repeat 50% 42% !important;}
.skin-select .custom-control-input:checked~label span {background:#682dd2;}
@media (max-width:1200px) {

}
@media (max-width:991px) {
    .package-sec h4{margin: 40px 0 20px 0;}
    .package-sec h4:first-child{margin-top: 40px;}
    .package-sec .desc {margin-bottom: 20px;margin-top: -18px;}
    .package-sec .custom-control {width: auto;margin-right: 30px;}
    .package-sec .form-group .custom-control-inline{width: 120px;}

    .skin-select {margin-top: 10px !important;}
    .skin-select label span{font-size: 15px;line-height: 1.7;}
}
@media (max-width:767px) {
    .package-sec h4{font-size: 15px;margin: 30px 0 20px 0;}
    .package-sec h4:first-child{margin-top: 30px;}
    .package-sec .form-group .custom-control-inline{width: 47.5%;}
    .package-sec .etc-group{width: 100%;}
    .package-sec .etc-group .custom-control-inline{width: auto;}
    .package-sec .etc-group .month-input{margin-left: 10px;}
    .package-sec .etc-group .month-input .form-control{width: 45px;}

    .skin-select .row{margin-left: -3px;margin-right: -3px;}
    .skin-select .item{flex: 0 0 33.33333%;max-width: 33.33333%;padding-left: 3px;padding-right: 3px;}
    .skin-select label span{font-size: 14px;line-height: 1.5;}
    .skin-select .custom-control-inline{margin-bottom: 6px;}
}

/* 패키지구매결과 */
.package-exclusive-info {margin-top:3.625em;}
.package-exclusive-info h4 {text-align:center;font-size:1.25em;font-weight:400;line-height:1.4;}
.package-exclusive-info .ball-list {margin-top:3.875em;position: relative;}
.package-exclusive-info .ball-list > .row [class^=col]{max-width:236px;position: static;}
.package-exclusive-info .ball-list > .row a{text-align: center;display: block;text-decoration: none;}
.package-exclusive-info .ball-list > .row strong {display:block;margin-top:-25px;font-size:1.75em;font-weight:500;}
.package-exclusive-info .ball-list .info {color:#666;}
.package-exclusive-info .tooltip{margin:3.75em 0 0;padding: 0 100px;position: relative;display: none;}
.package-exclusive-info .tooltip .inner {display:flex;justify-content:space-between;align-items:center;padding:17px 25px;border:2px solid #ededed;border-radius:10rem;background:#f2f2f2;}
.package-exclusive-info .tooltip .arrow {width: 0;height: 0;border-style: solid;border-width: 0 17px 18px 17px;border-color: transparent transparent #ededed transparent;position: absolute;top: -18px;transform: translateX(-50%);z-index: 0;}
.package-exclusive-info .tooltip .arrow::before {content:"";width: 0;height: 0;border-style: solid;border-width: 0 17px 18px 17px;border-color: transparent transparent #f2f2f2 transparent;position: absolute;top: 2px;left: 0;transform: translateX(-50%);}
.package-exclusive-info .tooltip p {margin-bottom:0;}
.package-exclusive-info .tooltip a {padding:0 14px 0 15px;color:#666;background:url(../../resources/images/icon-more.svg) no-repeat 100% 50%;}

.package-exclusive-list{margin-top: 80px;margin-bottom: 100px;}
.package-exclusive-list .row{margin-top: -6px;margin-bottom: -6px;}
.package-exclusive-list [class^=col-]{padding-top: 6px;padding-bottom: 6px;}
.package-exclusive-list .box{height: 120px;display:flex;align-items:center;justify-content:space-between;box-shadow:0 2px 10px 0 rgba(0, 0, 0, 0.1);border-radius:4px;padding: 0 40px 0 10px;}
.package-exclusive-list .box > div{display: flex;align-items: center;}
.package-exclusive-list .img {position:relative;display:block;width:115px;margin-top: 30px;margin-right: 5px;}
.package-exclusive-list .img img {width:100%;}
.package-exclusive-list .img strong {position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);margin-top:-13px;text-shadow:1px 1px 1px rgba(0, 0, 0, 0.3);font-size:1.375em;color:#fff;line-height: 30px;}
.package-exclusive-list .price,
.package-exclusive-list .num {font-size:1.5em;color:#333;}
.package-exclusive-list .calc {padding:0 19px;}
.package-exclusive-list .exch {margin-right:5px;color:#999;margin-top: 4px;}
.package-exclusive-list .sum {font-size:1.5em;font-weight:500;color:#111;}

@media (max-width:1200px) {
    .package-exclusive-list{font-size: 88%;}
    .package-exclusive-list .box{padding-right: 30px;padding-left: 5px;}
}
@media (max-width:991px) {
    .package-exclusive-list{font-size: 80%;}
    .package-exclusive-list .box{padding-right: 20px;padding-left: 5px;}
    .package-exclusive-list .img{width: 80px;margin-top: 18px;}
    .package-exclusive-list .calc{padding: 0 10px;}
    .package-exclusive-list .calc img{width: 10px;}
}
@media (max-width:768px) {
    .package-exclusive-info .ball-list > .row{margin-left: -6px;margin-right: -6px;}
    .package-exclusive-info .ball-list > .row [class^=col]{padding-left: 6px;padding-right: 6px;}
    .package-exclusive-info .ball-list > .row strong{font-size: 16px;margin-top: -5px;}
    .package-exclusive-info .tooltip{margin:15px 0 0;padding: 0;}
    .package-exclusive-info .tooltip .inner{flex-direction: column;align-items: flex-start;padding: 12px 5px;margin: 0;border-radius: 4px;}
    .package-exclusive-info .tooltip a{padding-left: 0;margin-top: 5px;display: inline-block;}
    .package-exclusive-info .tooltip .arrow{border-width: 0 10px 10px 10px;top: -10px;}
    .package-exclusive-info .tooltip .arrow::before{border-width: 0 10px 10px 10px;}

    .package-exclusive-list{margin-top: 40px;margin-bottom: 40px;}
    .package-exclusive-list .box{height: 80px;}
    .package-exclusive-list .img{width: 65px;margin-top: 14px;}
    .package-exclusive-list .img strong{margin-top: -9px;}
}

.pay-sum{text-align: center;}
.pay-sum .exch {font-size:0.875em;color:#999;}
.pay-sum .price {font-size:1.5em;font-weight:500;white-space: nowrap;}
.pay-sum .info {margin-top:6px;color:#666;white-space: nowrap;}
.pay-sum .sum {padding: 0 2px;}
.pay-sum .detail {display:flex;height: 150px;justify-content:center;align-items:center;border:3px solid #e5e5e5;border-radius:12px;}
.pay-sum .detail [class^=col]{display: flex;justify-content: center;flex-direction: column;align-items: center;}
.pay-sum .result {width:280px;height: 150px;border:3px solid #e5e5e5;border-radius:12px;display: flex;justify-content: center;flex-direction: column;align-items: center;}
.pay-sum .result .price {color:#ff5252;}

@media (max-width:1200px) {
    .pay-sum .price{font-size: 1.35em;}
    .pay-sum .result{width: 185px;}
}
@media (max-width:768px) {
    .pay-sum {box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);border-radius:4px;margin-left:0;margin-right: 0;padding: 15px 5px;}
    .pay-sum i img{width: 20px;}
    .pay-sum .info{font-size: 13px;order:1;margin: 0;}
    .pay-sum .exch{font-size: 11px;order:2;margin-right: 5px;text-align: right;flex-basis: 0;-ms-flex-positive: 1;flex-grow: 1;min-width: 0;max-width: 100%;}
    .pay-sum .price{font-size: 15px;order:3}
    .pay-sum .sum{display: none;}
    .pay-sum .detail{border: 0;height: auto;display: block;}
    .pay-sum .detail .col-auto{display: none !important;}
    .pay-sum .detail .col{flex-direction: row;justify-content: space-between;padding-bottom: 5px;}
    .pay-sum .result{width:auto;border: 0;height: auto;flex-direction: row;justify-content: space-between;margin-top: 6px;padding-top: 12px;font-size: 105%;border-top: 1px solid #999;border-radius: 0;}
    .pay-sum .result .info{color: #ff5252;font-size:15px}
    .pay-sum .result .exch{color: #ff5252;font-size:13px;margin-top: 3px;}
    .pay-sum .result .price{font-size:19px}
    .pay-sum .result .col-auto{display: none !important;}
}

.browse-link {margin-top:58px;text-align:center;}
.browse-link p {margin-bottom:0;font-size:14px;line-height:1.43;}
.browse-link .img {display:block;height:113px;padding-top:13px;background:url(../../resources/images/img-map.png) no-repeat 50% 100%;}

/* 제품상세 */
.product-detail {display:flex;justify-content:space-between;}
.product-detail p {margin-bottom:0;}
.product-detail>.img {display:flex;justify-content:center;align-items:center;position:relative;overflow:hidden;width:580px;text-align:center;background:#f4f4f4;}
.product-detail>.img .sns-area {position:absolute;right:24px;bottom:20px;}
.product-detail>.img .sns-area>* {margin-left:6px;}
.product-detail>.detail {width:537px;}
.product-detail>.detail>span {display:block;}
.product-detail .detail .badge {display:inline-block;}
.product-detail .tit {margin-bottom:6px;font-size:1.75em;font-weight:500;list-style: height 1.3em;;}
.product-detail .name-hash {margin-top:6px;color:#999;line-height:1.5;}
.product-detail .name-hash em {margin:0 4px;}
.product-detail .desc {margin-top:12px;color:#333;line-height:1.5;}
.product-detail .pay-box {margin:33px 0 25px;padding:1em 12px;border-top:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;}
.product-detail .d-flex {justify-content:space-between;align-items:center;margin-top:6px;}
.product-detail .d-flex>* {display:flex;align-items:center;height:40px;}
.product-detail .d-flex span {color:#666;}
.product-detail .d-flex .exch {font-size:13px;color:#999;}
.product-detail .d-flex .price {margin-left:5px;font-weight:400;color:#333;}
.product-detail .d-flex .spinner {margin-right:-5px;}
.product-detail .sum {display:flex;justify-content:space-between;align-items:center;margin-top:1.563em;padding:0 12px;}
.product-detail .sum span {color:#666;}
.product-detail .sum>div {display:flex;align-items:center;}
.product-detail .sum .exch {color:#999;}
.product-detail .sum .price {margin-left:6px;font-size:1.75em;font-weight:600;color:#ff5252;}
.product-detail .btn-area {margin-top:4.688em;}
.detail-tab {margin-top:6em;}
.tab-content .detail-info {margin-top:2.5em;text-align:center;}
.tab-content .precaution {margin-top:3.75em;}
.tab-content .product-info {margin-top:5em;}
.tab-content .buy-info {margin-top:2.5em;}
.precaution {position:relative;overflow:hidden;border:1px solid #111;border-radius:8px;padding-left:150px;}
.precaution span {display:flex;align-items:center;position:absolute;left:0;top:0;width:150px;height:100%;padding-left:20px;font-size:1.25em;color:#fff;background:#111;}
.precaution span img {margin-right:6px;}
.precaution p {display:flex;align-items:center;margin:15px 0 18px;padding:0 20px;color:#333;}
.table-view .table th {color:#999;background:none;}
.table-view .table th,
.table-view .table td {border-bottom-color:#d8d8d8;}
.buy-bottom {border-top:2px solid #682dd2;background:#f7f7f7;position: fixed;width: 100%;left: 0;bottom: -100%;transition:all .3s .1s;}
.buy-bottom.hide{transform: translate(0,calc(100% - 2px));}
.buy-bottom .toggler{width: 150px;height: 30px;border: 2px solid #682dd2;border-bottom: 0;position: absolute;top: -30px;left: 50%;margin-left: -75px;background: #f7f7f7;border-radius: 8px 8px 0 0;display: block;}
.buy-bottom .toggler::before{content: '';display: block;background: url('../images/icon-arrow-up.svg') no-repeat 50% 50%;background-size: contain;width: 18px;height: 10px;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%) rotate(0);transition: all .15s .05s;}
.buy-bottom .d-flex {justify-content:space-between;padding-top:2em;}
.buy-bottom .d-flex>p {width:260px;font-size:1.375em;}
.buy-bottom .d-flex .sum-box {display:flex;justify-content:space-between;align-items:center;}
.buy-bottom .d-flex .sum-box .calc {margin:0 3.25em;}
.buy-bottom .d-flex .sum-box .exch {color:#999;}
.buy-bottom .d-flex .sum-box .price {font-size:1.25em;color:#333;margin-left: 2px;}
.buy-bottom .d-flex .sum-box .sum .price {font-size:1.375em;color:#ff5252;}
.buy-bottom .btn-area {justify-content:center;padding-bottom:2.75em;}
html.is-bottom-floating .buy-bottom{bottom: 0;transform:translateY(0);}
html.is-bottom-floating.is-bottom-floating-fold .buy-bottom{transform: translateY(calc(100% - 10px));}
html.is-bottom-floating.is-bottom-floating-fold .toggler::before{transform: translate(-50%, -50%) rotate(180deg);}
html.is-bottom-floating.is-bottom-floating-fold #footer-block{padding-bottom: 0 !important;}
@media (max-width:767px) {
    .buy-bottom .toggler{width: 70px;}
    .buy-bottom .toggler{height: 20px;top: -20px;left: 50%;margin-left: -35px;}
    .buy-bottom .toggler::before{width: 12px;height: 6px;}
    html.is-bottom-floating.is-bottom-floating-fold .buy-bottom{transform: translateY(calc(100% - 6px));}
}
/* 이벤트 */
.event-list {display:flex;flex-wrap: wrap;margin: 0 -10px;}
.event-list li{padding: 0 10px;max-width:50%;margin-bottom: 60px;}
.event-list li a {display:block;}
.event-list li .img {display:block;}
.event-list li .img img {width:100%;}
.event-list li .tit {margin:12px 0 0;font-size:1.375em;font-weight:500;}
.event-list li .date {margin-top:4px;color:#666;}
@media (max-width:991px){
    .event-list li{margin-bottom: 30px;}
}
@media (max-width:768px) {
    .event-list{margin: 0 -6px;}
    .event-list li{max-width: 100%;width: 100%;padding: 0 6px;margin-bottom: 30px;}
    .event-list li .tit{font-size: 15px;}
}

/* 매장찾기 */
.offline-list td {padding:8px 1.25rem;}

/* 장바구니 */
.cart-list table {margin-bottom:0;}
.cart-list .my_picture .custom-checkbox {margin-right:0.8em;margin-bottom:10px;vertical-align:-8px;}
.cart-list .btn-del i {margin:0 0 0 1em;}
.cart-list .btn {margin-top:5px;}
.cart-list .cart-none {margin:10.5em 0 12.31em;}
.cart-list .cart-none i {display:inline-block;width:45px;height:36px;background:url(../../resources/images/icon-cart-none.svg) no-repeat;}
.cart-list .cart-none p {margin:1em 0 0;font-size:1.125em;color:#000;}
.cart-list .exp-list {font-size:0.875em;font-weight:400;color:#999;line-height:1.5;}
.cart-list .txt .exp-list {margin-top:5px;}
.cart-list .my_picture .txt {margin-left:20px;}

/* 주문결제 */
.write-type td {padding:7px 1.25rem;}
.write-type .byte {color:#999;}

/* 나의 배송 주소록 */
.my-address-list {border-top:1px solid #000;border-bottom:1px solid #eee;}
.my-address-list+.my-address-list {margin-top:20px;}
.my-address-list .choice {padding:14px 20px;background:#f7f7f7;}
.my-address-list>.d-flex {padding:20px;}

/* 결제 오류 및 실패 */
.pay-error-box {margin:20px 0 2.5em;}
.pay-error-box strong {display:block;margin:20px 0 12px;font-size:1.75em;font-weight:500;}
.pay-error-box p {margin-bottom:0;font-size:1.125em;color:#666;line-height:1.56;}

/* 공지사항 팝업 */
#notice .noti-txt {font-size:1.125em;line-height:1.56;}

@media (max-width:1200px) {
    .product-detail>.img {width:44%;height:auto;}
    .product-detail>.detail {width:52%;}
    .buy-bottom .d-flex>p {width:30%;}
    .buy-bottom .d-flex .sum-box {margin-left:1em;}
    .buy-bottom .d-flex .sum-box .calc {margin:0 1.5em;}
    .cart-list .my_picture .txt {margin:10px 0 0;}
    .profile-sec{margin-left: -10px;margin-right: -10px;}
    .profile-sec li{padding-left: 10px;padding-right: 10px;}
    .profile-sec li .img {width:100%;height:auto;}
}
@media (max-width:991px) {
    .detail-tab{margin-top: 3rem;}
}
@media (max-width:767px) {
    .product-detail {flex-direction:column;}
    .product-detail .d-flex>*{height: 36px;}
    .product-detail>.img {width:auto;}
    .product-detail>.detail {width:auto;margin-top:2em;}
    .product-detail .btn-area{margin-top: 2em;}
    .buy-bottom .d-flex {flex-direction:column;border: 1px solid #ccc;padding: .75rem;margin-top: 1rem;}
    .buy-bottom .d-flex>p {width:auto;font-size: 15px;}
    .buy-bottom .d-flex .sum-box {justify-content:flex-end;width:100%;margin-left:0;flex-wrap: wrap;}
    .buy-bottom .d-flex .sum-box > .default{display: inline-block;width: 50%;}
    .buy-bottom .d-flex .sum-box > .spinner-area{display: inline-block;width: 50%;text-align: right;}
    .buy-bottom .d-flex .sum-box > .sum{width: 100%;text-align: right;margin-top: 10px;}
    .buy-bottom .d-flex .sum-box > .calc{display: none;}
    .buy-bottom .d-flex .sum-box .sum .price{font-weight: 700;}
    .buy-bottom .btn-area{padding-bottom: 1rem;margin-top: 1rem;justify-content: space-between;}
    .precaution{padding: 0;}
    .precaution span{position: static;display: block;width: auto;padding: 5px 15px;}
    .precaution span img{width: 20px;}
    .precaution p{margin: 0;padding: 10px 15px;}
    .profile-sec.content-bottom-padding{padding-bottom: 70px;}
    .profile-sec .tit{margin: 30px 0 0;}
    .profile-sec ul{padding: 0 4rem;margin-top: 40px;}
    .profile-sec ul li{margin-bottom: 1.5rem;}
    .profile-sec li .custom-control{margin-top: .5rem;}
}
@media (max-width:418px) {
    .table-responsive.write-type col:first-child {width:80px !important;}
    .table-responsive.write-type .custom-control {display:block;margin-bottom:5px;}
    .table-responsive.write-type .col-5 {max-width:80%;flex:0 0 80%;}
    .table-responsive.write-type .w-25 {width:455% !important;}
    .table-responsive.write-type .w-25+.btn {margin-top:5px;}
    .table-responsive.write-type .col-6 {max-width:100%;flex:0 0 100%;}
    .table-responsive.write-type .col-6+.col-6 {margin:5px 0 0 0 !important;}
}
@media (max-width:375px) {
    .package-sec .form-inline .form-control {width:100%;}
}